name: Build 

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
      - .gitignore
      - LICENSE

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 20.x ]
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Npm install
      run: npm install

    # Build docker image, but don't publish, ensures that our DockerFile can be built
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker Image (no push)
      uses: docker/build-push-action@v6
      with:
        context: . 
        platforms: linux/amd64,linux/arm64
        push: false
        tags: test-image:test